@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
*{ /*copio el link de la fuente que quiero de google font
  luego debo introducir donde dice font-family el nombre de la fuente*/
  box-sizing: border-box;
  font-family: 'Montserrat';
  margin: 0;
  padding: 0;
}
html{
  /**/
  scroll-behavior: smooth;
}
/*El menu*/
.contenedor-header{
  background:linear-gradient(to top, rgba(80, 128, 173, 0), rgba(3, 31, 53, 0.719));
  position: fixed;/*esto sirve para que el angulo se concentre en una posicion en especial*/
  width: 100%;
  top: 0;
  left: 0;
  z-index: 99;
}
.contenedor-header header{
  width: 100%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
}
.contenedor-header .logo img{
  font-size: 38px;
  height: 60px;
  width: 239px;
  
}
.contenedor-header header ul{
  display: flex;
  list-style: none;
}
.contenedor-header header ul li a {
  text-align: none;
  color: aliceblue;
  margin: 0 15px;
  padding: 3px;
  transition: 5px;
  text-decoration: none;
}
.contenedor-header header ul li a:hover{
  color: rgb(30, 58, 46);
}
.nav-responsive {
  font-size: 25px;
  color: white;
  padding: 5px 10px;
  cursor: pointer;
  display: none;
}
.inicio, .sobremi, .herramientas, .proyectos .cv, .contacto{
  width: 100%;
}
/*inicio*/
 .inicio{
  background: linear-gradient(to top, rgba(42, 68, 48, 0.589), rgba(41, 100, 68, 0.623)),
  url(fondo.jpeg);
  background-size: cover;
  height: 100vh;
  color: aliceblue;
  display: flex;
  align-items: center;
  padding: 50px 20px;
 }
.inicio .contenido-baner{
  padding: 30px; 
  background-color: rgba(0, 0, 0, 0);
  max-width: 360px;
  margin: auto;
  text-align: center;
  border-radius: 40px;
}
.inicio .contenido-baner img {
  margin-top: 40px;
  border: 5px solid #426d4b8a;
  display: block;
  width: 80%;
  margin: auto;
  border-radius: 100%;
}
.inicio .contenido-baner h1{
  margin-top: 40px;
  font-size: 42px;
}

.inicio .contenido-baner .redes a{
  color: aliceblue;
  display: inline-block;
  text-decoration: none;
  border: 1px solid #669971;
  border-radius: 100%;
  width: 42px;
  height: 42px;
  line-height: 42px;
  margin: 40px 5px;
  font-size: 20px;
  transition: .3s;
}
.inicio .contenido-baner .redes a:hover{
  background-color: #669971;
}
/*SOBREMI*/
.sobremi{
  background:linear-gradient(to top, rgba(42, 68, 48, 0.589), rgba(41, 100, 68, 0.623)),
  url(fondo2.jpg);
  color: aliceblue;
  height: 100%;
  padding: 50px 20px;
}
.sobremi .contenido-seccion{
  max-width: 1100px;
  margin: auto;
}
.sobremi h2{
  font-size: 52px;
  text-align: left;
  padding: 40px 0;
}
.sobremi .inf-abo{
  padding: 20px 0;
}
.sobremi .filas{
  display: flex;
}
.sobremi .filas .col{
  width: 50%;
}
.sobremi .filas .col h3{
  font-size: 30px;
  margin-bottom: 27px;
}
.sobremi .filas .col .contenedor-interes{
  display: flex;
  flex-wrap: wrap;
}
.sobremi .filas .col .contenedor-interes .interes{
  width: 69px;
  height: 69px;
  background-color: #669971;
  border-radius: 50px;
  margin: 0 15px 15px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .3s;
}
.sobremi .filas .col .contenedor-interes .interes span{
  font-size: 8px;
  padding: 2px 0;
}
.sobremi .filas .col .contenedor-interes .interes:hover{
  background-color: cadetblue;
}
.sobremi .filas .col .contenedor-interes .interes i{
  font-size: 21px;
}
.sobremi .cvdow h2{
  text-align: center;
  font-size: 30px;
}
.sobremi .cvdow {
  text-align: center;
}
.sobremi .cvdow a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}
.sobremi .cvdow button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #6699718e;
  border-radius: 250px;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 30px;
  color: aliceblue;
  position: relative;
  z-index: 10;
}
.sobremi .cvdow button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6699718e;
  border-radius: 250px;
  z-index: .1;
  transition: 1s;
}
.sobremi .cvdow button:hover .overlay{
  width: 100%;
}

/*HERRAMIENTAS*/
.herramientas{
  align-items: center;
  padding: 50px 20px;
  background:url(fondo3.jpg);
  width: 100%;
  height: 100%;
}
.herramientas h2{
  text-align: center;
  color: aliceblue;
  font-size: 50px;
  padding: 40px 0;
  margin: 0;
}

/* Estilos para las pestañas */
      .tab-contenido{
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 50px 50px;
      }
      .contenido-intab{
        padding: 20px 20px;
      }
      .contenido-intab h2{
        font-size: 20px;
      }
      .contenido-intab h1{
        font-size: 25px;
        padding: 10px 10px;
      }
      .contenido-intab span{
        font-size: 25px;
      }
      .contenido-intab p{
        font-size: 18px;
      }
      .tab {
          display: none;
          border: 1px solid white;
          border-radius: 20px;
          background-color: #232738;
          padding: 20px 20px;
          height: 100%;
          width: 1000px;
          margin: 10px;
          font-family: Arial, Helvetica, sans-serif;
          color: white;
      }

      /* Estilo para el contenido de la pestaña activa */
      .active {
          display: block;
      }

      /* Estilos para los botones de las pestañas */
      .bt-herr{
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .tab-button1, .tab-button2, .tab-button3, .tab-button4, .tab-button5 {
          padding: 10px 20px;
          margin: 9px;
          border-radius: 9px;
      }
      .tab-button1, .tab-button2, .tab-button3, .tab-button4, .tab-button5 i{
          font-size: 20px;
      }
      .tab-button1 {
          background-color: #232738;
          border: 1px solid #b14f17;
          color:#b14f17;
          padding: 10px 20px;
          cursor: pointer;
      }
      .tab-button2 {
          background-color: #232738;
          color: #d3a717;
          padding: 10px 20px;
          border: 1px solid #d3a717;
          cursor: pointer;
      }
      .tab-button3 {
          background-color: #232738;
          color: #195391;
          padding: 10px 20px;
          border: 1px solid #195391;
          cursor: pointer;
      }
      .tab-button4 {
          background-color: #232738;
          color: #4d2bc7;
          padding: 10px 20px;
          border: 1px solid #4d2bc7;
          cursor: pointer;
      }
      .tab-button5 {
          background-color: #232738;
          color: #54a0f1;
          padding: 10px 20px;
          border: 1px solid #54a0f1;
          cursor: pointer;
      }
      .fut-tab p{
        font-size: 16px;
      }
      .fut-tab i{
        font-size: 20px;
      }
      .word i{
        color: #195391;
        margin: 9px;
      }
      .powerpoint i{
        color: orange;
        margin: 9px;
      }
      .excel i{
        color: green;
        margin: 9px;
      }
      .react i{
          color: aqua;
          margin: 9px;
      }
      .node i{
          color: greenyellow;
          margin: 9px;
      }
      .python i{
          color:#195391;
          margin: 9px;
      }
      .angular i{
          color: red;
          margin: 9px;
      }
      .net i{
          color: #2c41a1;
          margin: 9px;
      }
      .logo1{
          color: #b14f17;
          font-size: 50px;
          padding: 10px 10px;
      }
      .logo2{
          color: #d3a717;
          font-size: 50px;
          padding: 10px 10px;
      }
      .logo3{
          color: #195391;
          font-size: 50px;
          padding: 10px 10px;
      }
      .log4{
          color: #6047bd;
          font-size: 50px;
          padding: 10px 10px;
      }

/*PROYECTOS*/
.proyectos{
  padding: 50px 20px;
  height: 115vh;
  background:linear-gradient(to top, rgba(47, 74, 92, 0.589), rgba(4, 57, 78, 0.623)),
  url(fondo6.jpeg);
  color: aliceblue;
}
.proyectos h2{
  font-size: 50px;
  text-align: center;
  padding: 40px 0;
}
.proyectos .filas-proyectos{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.proyectos .filas-proyectos .proyect{
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  grid-gap: 20px;
  grid-row-gap: 20px;
  margin: 10px;
  cursor: pointer;
  transition: .3s;
}
.proyectos .filas-proyectos .proyect:hover{
  box-shadow: 0 0 27px #a1df8400;
  scale: 1.05;
}
.proyectos .filas-proyectos .proyect img{
  width: 200px;
  height: 100px;
  display: block;
}
.proyec-foot{
  width: 100%;
  height: 100%;
  background-color: #232738;
  color: white;
}
.footer-proyect {
  padding: 50px 0 30px 0;
  display: flex;
  flex-direction: column;
  text-align: center;
  position: relative;
  width: 100%;
}
.footer-proyect h3{
  padding: 20px 20px;
}
.footer-proyect a{
  font-size: 50px;
  color: white;
  /*padding: 20px 20px;*/
  margin: 0;
}
.footer-proyect i{
  border: 1px solid white;
  border-radius: 50px;
  padding: 10px;
}
.proyectos h3{
  font-size: 25px;
  text-align: center;
  padding: 20px 0;
}
.proyect p{
  text-align: center;
}
.proyectos a{
  text-decoration: none;
  color: aliceblue;
  text-align: center;
  text-decoration: none;
  font-size: 20px;
  
  
}

/*CONTACTO*/
.contacto{
  padding: 50px 20px;
  height: 170vh;
  background:linear-gradient(to top, rgba(27, 39, 48, 0.589), rgba(44, 60, 66, 0.623)),
  url(fondo5.jpg);/*agregar imagen de fondo*/
  color: aliceblue;
}
.contacto .contenido-contacto{
  max-width: 1100px;
  margin: auto;
}
.contacto h2{
  text-align: center;
  font-size: 50px;
  padding: 40px 0;
}
.contacto .filas{
  display: flex;
}
.contacto .col{
  width: 50%;
  padding: 10px;
  position: relative;
}
.contacto .col input, .contacto .col textarea{
  display: block;
  width: 100%;
  padding: 20px;
  border: 1px solid #b7c9dab2;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: #282C34;
  color: #b7c9dab2;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}
.contacto button{
  cursor: pointer;
  background-color: transparent;
  border: 2px solid #6699718e;
  border-radius: 9px;
  display: block;
  margin: 20px auto;
  padding: 10px 22px;
  font-size: 20px;
  color: aliceblue;
  position: relative;
  z-index: 10;
}
.contacto button .overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background-color: #6699718e;
  z-index: -1;
  transition: 1s;
}
.contacto button:hover .overlay{
  width: 100%;
}
/*footer*/
footer{
  width: 100%;
  background-color: #333742;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
}
footer img{
  height: 70px;
  width: 250px;
}
footer .grupo1{
  width: 100%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  padding: 40px 40px;
}
figure{
  display: flex;
  justify-content: center;
  align-items: center;
}
footer .redes-s{
  display: inline-block;
  margin-right: 10px;
}
footer .redes-s i{
  padding: 10px 10px;
}
footer .redes-s a{
  color:#B6C2DC;
}
footer .grupo2 .sour-box{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 10px;
}
footer .grupo2 a{
  display: flex;
  margin: auto;
  text-decoration: underline;
  color: #B6C2DC;
  text-align: center;
}
footer .grupo3{
  display: flex;
} 
/*RESPONSIVE*/
@media screen and (max-width:800px){
  nav{
    display: none;
  }
  .nav-responsive{
    display: block;
  }
  nav.responsive{
    display:block;
    position: absolute;
    right: 0;
    top: 75%;
    background-color:#001d22;
    width: 180px;
  }
  nav.responsive ul{
    display: block;
  }
  nav.responsive ul li{
    padding: 10px 0;
  }
  .nav-responsive{

  }
}
@media screen and (max-width:700px){
  .sobremi{
    height: 100%;
  }
  .sobremi .filas{
    display: block;
  }
  .sobremi .filas .col{
    width: 100%;
    height: 100%;
    padding: 20px 20px;
  }
  .sobremi .inf-abo{
    padding: 0;
  }
  .herramientas .filas{
    display: block;
  }

  .herramientas {
    width: 100%;
    height: 100%;
}

.contenido-intab h1{
  font-size: 18px;
}
.contenido-intab p{
  font-size: 13px;
}

.tab {
    width: 100%;
}

 
  .herramientas .filas .tipo-deskills{
    width: 100%;
  }
  .bt-herr{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding: 10px 10px;
  }
  .bt-herr button{
    margin: auto;
    padding: 8px 8px;
  }
  .proyectos{
    height: 100%;
    background:linear-gradient(to top, rgba(47, 74, 92, 0.589), rgba(4, 57, 78, 0.623)),
    url(fondo6mob.jpg);
  }
  .proyectos .filas-proyectos{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: auto;
  }
  .proyectos .filas-proyectos .proyect{
    width: 200px;
  }
  .contacto .filas{
    display: block;
  }
  .contacto .filas .col{
    width: 100%;
  }
  footer{
    width: 100%;
    background-color: #333742;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    margin: 0;
  }
  footer .grupo1{
    width: 100%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(1, 1fr); 
    grid-gap: 20px;
    padding: 40px 40px;
  }
  figure{
    height: 70px;
    width: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  footer .redes-s{
    width: 100%;
    display: inline-block;
    margin-right: 8px;
  }
  footer .redes-s i{
    padding: 8px 8px;
  }
  footer .redes-s a{
    color:#B6C2DC;
  }
  footer .grupo2 .sour-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 8px;
  }
  footer .grupo2 a{
    display: flex;
    color: #B6C2DC;
    text-align: center;
  }
  footer .grupo3{
    display: flex;
    justify-content: center;
    align-items: center;
  } 
}